<nav class="navbar navbar-expand-lg navbar-primary">
  <div class="container">
    <div class="navbar-translate">
      <a [routerLink]="['/user-profile']" class="navbar-brand">Welcome <span
        class="hero-intro">{{current_user['userName']}}</span></a>
      <ul class="navbar-nav float-right">
        <li class="nav-item">
          <a rel="tooltip" ngbTooltip="We know you're a cheater." data-placement="bottom"
             title="We know you're a cheater." (click)="matchme()" class="btn btn-danger btn-round" style="color: #fff">Instant-Match</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/user-profile']"
             class="btn btn-danger btn-round">Matches: {{current_user['matches'].length}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="page-header" style="background-image: url('./assets/img/background.jpg');">
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <div class="card" style="width: 25rem;" *ngIf="card_switcher('meme')">
          <img class="card-img-top" id="card-img" src={{card_url}} alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" data-ng-bind="card_title">{{card_title}}</h5>
            <p class="card-text" data-ng-bind="card_text">{{card_text}}</p>
            <br/><br/>
            <div>
              <a rel="tooltip" ngbTooltip="Nope, next." title="Nope, next." data-placement="bottom"
                 (click)="clicked('nope :(', true)" style="cursor: pointer" class="text-danger"><i
                class="fa fa-ban fa-4x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a rel="tooltip" ngbTooltip="Yep, I like this one ;)" title="Yep, I like this one ;)"
                 data-placement="bottom" (click)="clicked('yep ;)', false)" style="cursor: pointer"
                 class="text-success"><i data-toggle="modal" data-target="#myModal1"
                                         class="fa fa-check-circle fa-4x"></i></a>
            </div>
            <br/>
            <div class="text-center">
              <small>Are you still reading? MOVE ON.</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto">
        <div class="card" style="width: 25rem;" *ngIf="card_switcher('reply')">
          <img class="card-img-top" id="card-img" src={{card_url}} alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" data-ng-bind="card_title">Reply with your meme!</h5>
            <p class="card-text" data-ng-bind="card_text">Well, the title is kinda self-explanatory, but if you're
              reading this you're kinda stupid. SO.<br/>
              I'll make it simple for you; do you see the nice input box below? SEE? OK. Put the URL of your meme. It
              should point to an image. OF COURSE. But you're stupid, better specify everything.
            </p>
            <form class="register-form">
              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class=""></i>
                                </span>
                </div>
                <input id="memeURL" type="text" class="form-control" placeholder="Your meme-reply here..."
                       (focus)="focus=true" (blur)="focus=false">
              </div>
              <button (click)="updateMeme()" class="btn btn-danger btn-block btn-round">Check!</button>
            </form>
            <br/><br/>
            <div>
              <a rel="tooltip" ngbTooltip="LET MEE OUUUUT! (Cancel)" title="LET MEE OUUUUT! (Cancel)"
                 data-placement="bottom" (click)="abort()" style="cursor: pointer" class="text-danger"><i
                class="fa fa-ban fa-4x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a rel="tooltip" ngbTooltip="THIS. IS. AWESOME. (Send it)" title="THIS. IS. AWESOME. (Send it)"
                 data-placement="bottom" (click)="send_reply()" style="cursor: pointer" class="text-success"><i
                data-toggle="modal" data-target="#myModal1" class="fa fa-check-circle fa-4x"></i></a>
            </div>
            <br/>
            <div class="text-center">
              <small>Are you still reading? MOVE ON.</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto">
        <div class="card" style="width: 25rem;" *ngIf="card_switcher('match')">
          <img class="card-img-top" id="card-img" src="./assets/img/memes/love.jpg" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title" data-ng-bind="card_title">You got a MATCH! <span class="hero-intro"><i
              class="fa fa-heart"></i></span></h5>
            <p class="card-text" data-ng-bind="card_text">{{current_user['userName']}}, you matched with <span
              class="hero-intro">{{matched_user['userName']}}!</span>
              <br/><br/>
              Leave a message for them... If you want. I'm not a cop. Do whatever, my job is done here.
            </p>
            <form class="register-form">
              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class=""></i>
                                </span>
                </div>
                <input id="text" type="text" class="form-control" placeholder="Your message..." (focus)="focus=true"
                       (blur)="focus=false">
              </div>
              <button (click)="send_text()" class="btn btn-danger btn-block btn-round">Send!</button>
            </form>
            <br/><br/>
            <div>
              <a rel="tooltip" ngbTooltip="LET MEE OUUUUT! (Cancel)" title="LET MEE OUUUUT! (Cancel)"
                 data-placement="bottom" (click)="abort()" style="cursor: pointer" class="text-danger"><i
                class="fa fa-ban fa-4x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a rel="tooltip" ngbTooltip="THIS. IS. AWESOME. (Send it)" title="THIS. IS. AWESOME. (Send it)"
                 data-placement="bottom" (click)="send_reply()" style="cursor: pointer" class="text-success"><i
                data-toggle="modal" data-target="#myModal1" class="fa fa-check-circle fa-4x"></i></a>
            </div>
            <br/>
            <div class="text-center">
              <small>Are you still reading? MOVE ON.</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Let's talk product</h2>
                <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5>
                <br>
                <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Beautiful Gallery</h4>
                        <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">New Ideas</h4>
                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Statistics</h4>
                        <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Delightful design</h4>
                        <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Let's talk about us</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Henry Ford</h4>
                                <h6 class="card-category">Product Manager</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Sophie West</h4>
                                <h6 class="card-category">Designer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Robert Orben</h4>
                                <h6 class="card-category">Developer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
-->
